<div class="empty-cart-message" *ngIf="isEmpty(); else notEmpty">
  <div style="display: flex">
    There are no products added to the cart, add some ;)
  </div>
</div>

<ng-template #notEmpty>
  <div class="cart-container">
    <div class="cart-panel">
      <app-cart-item
        *ngFor="let cartItem of cartItems"
        [product]="cartItem.product"
        [quantity]="cartItem.quantity"
        (removeCartItem)="onRemoveCartItem($event)"
      ></app-cart-item>
      <h3>Total: {{ getCartSum() | currency }}</h3>
    </div>
    <div class="cart-panel">
      <form class="form-margin" (ngSubmit)="onCartSubmit()">
        <div class="mb-3">
          <label for="fullname">Full Name</label>
          <input
            type="text"
            class="form-control"
            minlength="3"
            [(ngModel)]="fullName"
            name="fullName"
            placeholder="(minimum 3 characters)"
          />
        </div>
        <div class="mb-3">
          <label for="address">Address</label>
          <input
            type="text"
            class="form-control"
            minlength="6"
            [(ngModel)]="address"
            name="address"
            placeholder="(minimum 6 characters)"
          />
        </div>
        <div class="mb-3">
          <label for="address">Credit Card Number</label>
          <input
            type="number"
            class="form-control"
            ng-minlength="16"
            ng-maxlength="16"
            [(ngModel)]="creditCardNumber"
            name="creditCardNumber"
            placeholder="(16-digit characters)"
          />
          <p class="text-secondary fst-italic fw-light mb-1">
            We will never share your payment details with anyone else.
          </p>
        </div>
        <div class="mb-3">
          <button class="btn btn-primary">Submit</button>
        </div>
      </form>
    </div>
  </div>
</ng-template>
