<form class="form-margin" #orderForm="ngForm" (ngSubmit)="onCartSubmit()">
    <div class="mb-3">
      <label for="fullname">Full Name</label>
      <input
        type="text"
        class="form-control"
        required
        minlength="3"
        [(ngModel)]="fullName"
        name="fullName"
        placeholder="(minimum 3 characters)"
      />
    </div>
    <div class="mb-3">
      <label for="address">Address</label>
      <input
        type="text"
        class="form-control"
        required
        minlength="6"
        [(ngModel)]="address"
        name="address"
        placeholder="(minimum 6 characters)"
      />
    </div>
    <div class="mb-3">
      <label for="address">Credit Card Number</label>
      <input
        class="form-control"
        required
        minlength="15"
        maxlength="17"
        [(ngModel)]="creditCardNumber"
        name="creditCardNumber"
        placeholder="(16-digit characters)"
      />
      <p class="text-secondary fst-italic fw-light mb-1">
        We will never share your payment details with anyone else.
      </p>
    </div>
    <div class="mb-3">
      <input type="submit" [disabled]="orderForm.invalid" value="Submit" class="btn btn-primary">
    </div>
  </form>